h1{
    text-align:center;
    font-weight: bolder;
text-decoration: #f78120 underline wavy;
letter-spacing: 10px;
font-size: 80px;
font-family: monospace, arial;
}
a{
 text-decoration: none;   
}
p{
    line-height: 2;
}